<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact - My Django Website</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <header>
        <h1>Contact Us</h1>
        <nav>
            <ul>
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><a href="{% url 'about' %}">About</a></li>
                <li><a href="{% url 'contact' %}">Contact</a></li>
                <li><a href="{% url 'tree' %}">Tree</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <h2>Contact Page</h2>
        <p>This is the contact page of my simple Django website.</p>
    </main>
    <footer>
        <div class="footer-contact">
            <p>Email: atikaislam444@gmail.com.com</p>
            <p>Phone: +81 (070) 8449-5766</p>
            <p>Address: Hino-shi,Tokyo, Japan</p>
        </div>
        <p>Copyright © 2024 TreeHub. All rights reserved.</p>
    </footer>
</body>
</html>
